doctype html
html(lang="en")
    head
        include ./includes/head.jade
    body
        div#container
            include ./includes/top-navbar.jade
            .front-pane
                div.left(style='padding-top: 20px')
                    h2 The Minecraft Grand Exchange
                    p Introducing MCEX, the first global economy platform for Minecraft servers.
                    a(href='/signup')
                        button Sign up
                div.right
                    img(src='/img/mcex-stocks.png')