#top-navbar
    #left-logo
        a(href='/')
            img(src='/img/mcex.png')
    nav#right-nav
        ul
            li
                a(href='#') Login
            li
                a(href='/signup') Sign up